{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: "Version"|t('patron-salesforce'),
    instructions: "The API version to use (ex: 'v41.0')"|t('patron-salesforce'),
    id: 'version',
    class: 'code',
    name: 'version',
    value: connection.version ?? null,
    errors: connection.getErrors('version') ?? [],
    required: true
}) }}

{% set providerOptions = {'': '-- Select Patron Provider --'} %}
{% for provider in providers %}
    {% set providerOptions = providerOptions|merge([{
        label: provider.handle,
        value: provider.id
    }]) %}
{% endfor %}

{{ forms.selectField({
    label: "Handle"|t('app'),
    instructions: "The <a href='"~ cpUrl('/patron/providers') ~"'>Patron provider</a> handle"|t('patron-salesforce'),
    id: 'provider',
    name: 'provider',
    options: providerOptions,
    value: connection.provider ?? null,
    errors: connection.getErrors('provider') ?? []
}) }}